body{
    height: 100vh;
    background: url('/image/v169_462.png') no-repeat center;
    background-size: cover;
    margin: 0;
}

.bgc{

}

.fovarit {
  width: 273px;
  color: rgba(239,246,255,1);
  position: absolute;
  top: 50px;
  left: 800px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 60px;
  opacity: 1;
  text-align: left;
  text-shadow: black 2px 3px 4px;
}

.registenicon {
    width: 843px;
    height: 80px;
    background: rgba(112,135,164,0.699999988079071);
    opacity: 0.800000011920929;
    position: absolute;
    top: 834px;
    left: 470px;
    border-radius: 20px;
}

.kakrabotaet {
    width: 171px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 74px;
    left: 106px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.chetra {
    width: 1500px;
    opacity: 1;
    position: absolute;
    top: 123px;
    left: 180px;
    border: 3px solid rgba(9,14,18,1);
    background-color: black;
}

.blook1 {
    width: 182px;
    height: 34px;
    background: rgba(89,119,153,1);
    opacity: 0.800000011920929;
    position: absolute;
    top: 67px;
    left: 220px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

